body{
	background-color: lightpink;
}
.navbar{
	display: flex;
	justify-content: space-between;
}
.Try input{
	background-color: blue;
	color: white;
	border: none;
	border-radius: 5px;
	height: 40px;
}
.Codecademy {
	border: 5px solid black;
	font-weight: bold;
	width: 75px;
	height: 50px;
}
.Email {
	background-color: blue;
	color: white;
	/*height: 120px;
	width: 600px;*/
	padding: 10px;
	margin-top: 10px;
}
.Email input{
	background-color: white;
	color: black;
	border: none;
	border-radius: 5px;
	height: 40px;
}
.Pro {
	background-color: black;
	color: white;
	width: 150px;
}

.Get-more {
	background-color: white;
	height: 150px;
	border: 2px solid;
	margin-top: 10px;
	padding: 0px 10px 0px 10px;
}
.edit {
	color: slateblue;
	font-size: 18px;
}
.Course{
	background-color: white;
	height: 200px;
	padding: 5px 10px 5px 10px;
}
.Visual{
	background-color: lightgrey;
	height: 60px;
	padding-left: 50px;
	display: flex;
	flex-direction: center;
	font-size: 20px;
	font-weight: bold;
}
.Project {
	background-color: black;
	color: white;
	height: 50px;
	width: 400px;
	padding-left: 40px;
	display: flex;
	flex-direction: center;
	font-weight: bolder;
}

.Week {
	background-color: white;
	height: 500px;
	padding-left: 40px;
	display: flex;
	flex-direction: column;
	
}

.main-container{
	display: flex;
	justify-content: space-around;
}